html {
    scroll-behavior: smooth;
}

body {
    font-family: Tahoma;
    margin: 0;
    padding: 0;
}

header {
    color: white;
    background: linear-gradient(0deg, #e18989 0%, #e78383 100%);
    text-align: center;
    padding: 20px;
}

nav{
    border-radius: 15px;
    background-color: #fdfdfd;
    padding: 20px;
    text-align: center;
}

nav a{
    margin: 0 15px;
    text-align: center;
    width:100%;
    text-decoration: none;
    color: black;
}

nav a:hover{
    color: #9e0000;

}

.imagen_fresa {
    width: 15%;
    height: "100";
    border-radius: 10px 60px 30px;
    transition: all .3s;
    margin: 10px;
}

.imagen_fresa:hover{
    transform: scale(1.1);
}

.prototype {
    background-color: #0c0c0c;
    border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 0px 16px 8px rgba(0, 0, 0, 0.2);
    transition-duration: 0.4s;
    cursor: pointer;
    font-weight: bold;
}

.prototype:hover {
    background-color: #9e0000;
    color: white;
}

.boton_personal{
    background-color: #030303;
    border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 0px 16px 8px rgba(0, 0, 0, 0.2);
    transition-duration: 0.4s;
    cursor: pointer;
    font-weight: bold;
}

.boton_personal:hover{
    background: radial-gradient(#11ff00 0%, #0bdfef 100%);
    color: black;
}

.formulario{
    background-color: #ffffff;
}

.inputs{
    border-color: solid gray;
}

.razon {
    width: 300px;
    height: 100px;
}

.boton_enviar{
    background-color: #ec9090;
    border: 1px;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
}

.div_main{
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
}

.div_contacto{
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    padding: 30px;
}

.div_contacto span{
    color: red;
}

main {
    padding: 20px;
    background-color: #e9e9e9;
}

section {
    margin-bottom: 20px;
}

footer{
    text-align: center;
}

